.navbar-ul{
    display:flex;
    list-style: none;
    gap: 40px;
    padding-right: 30px;
}
*{
    margin:0;
    padding: 0;
}
html, body{
    /* background-color: blanchedalmond; */
    color: white;
}

.navbar{
    width:100%;
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    position: fixed;
}
.navbar-heading{
    font-size: 50px;
}
.navbar-ul{
    font-size: 27px;
}
.navbar-ul a{
    text-decoration: none;
    color:white
}
.navbar-ul a:hover{
    font-size:30px;
}
.d1{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#6f6e6c;
    height:500px;
}
.left{
    width:30%;
}
.left div{
    font-size: 35px;
}
.left div span{
    color: gold;
}

.right{
    width:30%;
}
.right img{
    width:238px;
    height:242px;
    border: 10px solid black;
    border-radius: 147px;
    
}

.education{
    width:100%;
    height: 500px;
    background-color:rgb(209, 204, 204);
    display:flex;
}
.edu-con{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    color:black;
}.edu-img{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-img{
    width:300px;
    height:300px;
}

.education_ul{
    font-size: 22px;
    padding-left: 2.5%;
    list-style-type:circle;
}

    
.Skills{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    background-color:#86878a;
}
.skills-img{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-img{
    width:250px;
    height: 250px;
    object-fit: cover;
}

.skill-con{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sk-con b{
    font-size: 30px;
    display: block;
}

.btn-sk{
    width:153px;
    height:54px;
    margin:20px;
    font-size: 20px;
    border-radius: 27px;
    background-color: rgb(21, 19, 19);
    color:white;
    
}
.btn-sk:hover{
    background-color: #c0c0c0;
    width:148px;
    height:51px;
}
.linkedin-logo{
    width: 56px;
    margin-right: 3px;
}
a:link,:visited,:active{
    color: white;
}
a:hover{
    color:rgb(244, 217, 65);
}
.project{
    width:100%;
    height:500px;
    display: flex;
}
.project-img{
    width: 50%;
    background-color: rgb(209, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-cont{
    width: 50%;
    background-color: rgb(209, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.project-cont p{
    font-size: 20px;
}
.project-cont div b{
    font-size:50px;
    display: block;
    margin-bottom: 10px;
}
.project_name{
    font-size:30px;
    display:block;
    margin: 5px;
}
.pro-img{
    width: 300px;
    height: 300px;
    border-radius: 207px;
    border: 10px solid black;
}
.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.gmail-logo{
    width:56px;
    margin-right: 10px;
}

.Contact{
    background-color: black;
    color: white;
}
.Contact p{
    font-size: 50px;
    text-align: center;
}

.Contact a{
    width: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-logo{
    display:flex;
}
.ed {
    font-size: 50px;
}



@media only screen and (max-width: 400px){
    .navbar-heading{
        font-size: 15px;
    }
    .navbar{
        gap:113px;
        justify-content: start;
    }
    .navbar-ul{
        font-size: 10px;
        gap:10px;
    }
    .left div {
        font-size: 10px;
    }
    .right img {
        width: 124px;
        height: 115px;
        border: 10px solid black;
        border-radius: 103px;
    }
    .e-img {
        width: 138px;
        height: 140px;
    }
    .ed {
        font-size: 20px;
    }
    .education_ul {
        font-size: 10px;
    }
    .sk-con b {
        font-size: 20px;
        margin:0 3px;
    }
    .s-img {
        width: 62px;
        height: 57px;
    }
    .skill-con {
        width: 70%;
    }
    .skills-img {
        width: 30%;
    }
    .btn-sk {
        width: 33px;
        height: 36px;
        margin: 3px;
        font-size: 5px;
        border-radius: 54px;
    }
    .pro-img {
        width: 112px;
        height: 144px;
        border-radius: 92px;
    }
    .project-cont div b {
        font-size: 30px;
    }
    .project_name {
        font-size: 20px;
    }
    .project-cont p{
        font-size: 8px;
    }
    .linkedin-logo{
        font-size: 10px;
    }
    .gmail-logo{
        font-size: 10px;
    }
    .Contact p{
        font-size: 30px;
    }
    .Contact a{
        font-size: 10px;
    }
}